Google Sheets Method 1.json
{
  "name": "Google Sheets Method 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "f582033b-ec61-4c25-8197-9dcb4c3a339e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheets",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "2a974719-b291-4a22-883c-97d73955d34c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "088db091-dee2-4948-be2b-60808c379e21",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        -144
      ],
      "id": "b338f861-ead3-411f-a8bd-07f399fe6f7f",
      "name": "Wait",
      "webhookId": "c440a0c0-ba59-460c-8e66-e2e234fd483d"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1rK3weMV1N9YBNjuM3bKQF-471x9uDbviCzUoxuH0cfs",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        0
      ],
      "id": "3bd0be04-4094-4f8f-9e7a-c1d8e37db23a",
      "name": "Get Sheet Names",
      "credentials": {
        "oAuth2Api": {
          "id": "eTy1F8Ql0UYOUHE4",
          "name": "Google Sheets OAuth2.0"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rK3weMV1N9YBNjuM3bKQF-471x9uDbviCzUoxuH0cfs",
          "mode": "list",
          "cachedResultName": "Mock Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rK3weMV1N9YBNjuM3bKQF-471x9uDbviCzUoxuH0cfs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.properties.title }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        704,
        112
      ],
      "id": "e054694f-f1e2-406e-ab4c-89b31bcbddb8",
      "name": "Get Data",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AlY4P5ky9mGHD3ZF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NQn1LymR5V-2qWV2fPk_67KFv2l4OMzMXP1nDJLj4Jc",
          "mode": "list",
          "cachedResultName": "Final Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQn1LymR5V-2qWV2fPk_67KFv2l4OMzMXP1nDJLj4Jc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQn1LymR5V-2qWV2fPk_67KFv2l4OMzMXP1nDJLj4Jc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Profession": "={{ $json.Profession }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        -144
      ],
      "id": "47756e70-0b95-4c0b-86bf-bda14b6d4c75",
      "name": "Save Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gadksHwMc0QDZnVP",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Sheet Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Save Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet Names": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f730911-e7ab-4ca9-ab14-4730d036b80b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459048a985e48975a7cdd849ffc070141476660681b71299cde19c05546285d9"
  },
  "id": "z9eXlyGEs907kqZv",
  "tags": []
}