Nano-Banana.json
{
  "name": "Nano-Banana",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Contexto\nEres un asistente encargado de ayudar a los usuarios a generar y modificar imagenes utilizando IA. Para esto cuentas con una serie de herramientas que te permitiran cumplir las peticiones.\n\n# Herramientas\n- combine_images: Utiliza esta herramienta para combinar 2 imagenes y generar una nueva.\n- change_name: Utiliza esta herramienta para cambiar el nombre de una imagen.\n- search_original_image: Utiliza esta herramienta para revisar las imagenes que han sido subidas por el usuario y obtener informacion como el nombre o la ID de las imagen.\n\n# Reglas\n- Antes de utilizar la herramienta \"combine_images\" debes utilizar la herramienta \"search_original_image\" para obtener la ID de las imagenes que vas a utilizar.\n\n# Instrucciones\nSi el usuario acaba de subir una imagen debes preguntarle que nombre desea ponerle a la imagen, luego debes utilizar la herramienta \"change_name\" para actualizar el nombre de la imagen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        0
      ],
      "id": "1f373d4b-7ae0-4fec-9f3a-2ffd9738f563",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        208
      ],
      "id": "c9f4b23e-2fa7-41bb-99c8-996f3d8f89f6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zRsS8HggDnh8bWqc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        208
      ],
      "id": "5ce78152-0bc0-4f53-b98b-29f727fceeea",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -16
      ],
      "id": "28ec9df3-c753-4194-9d43-31db22664dba",
      "name": "Telegram Trigger",
      "webhookId": "9fff674c-67c4-4ed4-bb05-5a7e084810ca",
      "credentials": {
        "telegramApi": {
          "id": "IfZOGMzpDdl77PuZ",
          "name": "General Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": "={{ $json.message.voice.file_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e24bdf62-f96c-4e4e-b344-0f0cfa76d71a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "312038cb-1b9f-4865-ac33-533ee687afc5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -592,
        -16
      ],
      "id": "cfba867e-4fc5-4663-bfc7-ea2d7eaa2db7",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "let text;\n\ntry {\n  text = $input.first().json.message.text;\n} catch(e) {\n  text = 'El usuario acaba de subir una imagen con ID: ' + $input.first().json.id;\n}\n\nreturn [\n  {\n    json: {\n      text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "id": "018a6669-aba3-404c-9551-303607d94e19",
      "name": "Final Text"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        -208
      ],
      "id": "f5cf4560-c4d8-4d5c-9658-c7713d9dea54",
      "name": "Get a file",
      "webhookId": "c9fa484e-f0a5-40d4-9e3d-90d7729765bf",
      "credentials": {
        "telegramApi": {
          "id": "IfZOGMzpDdl77PuZ",
          "name": "General Bot"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "11JUQLqhi8BkhSVs1QL-bhW9HHe6wDqFm",
          "mode": "list",
          "cachedResultName": "Video 20",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11JUQLqhi8BkhSVs1QL-bhW9HHe6wDqFm"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        -208
      ],
      "id": "4122e5ee-c5d2-4e74-b168-84c4083d9e62",
      "name": "Upload Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "89koRBqfquS4zLOH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_to_Update', ``, 'string') }}"
        },
        "newUpdatedFileName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        336,
        208
      ],
      "id": "69ef8c42-86e4-4a32-a2df-bd91de4c4329",
      "name": "change_name",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "89koRBqfquS4zLOH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "96fe1efd-3a11-47ec-8992-be2d66cf9262",
      "name": "Send a text message",
      "webhookId": "e162ac5f-2c47-4092-a394-97e3b1cc47a3",
      "credentials": {
        "telegramApi": {
          "id": "IfZOGMzpDdl77PuZ",
          "name": "General Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11JUQLqhi8BkhSVs1QL-bhW9HHe6wDqFm",
            "mode": "list",
            "cachedResultName": "Video 20",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11JUQLqhi8BkhSVs1QL-bhW9HHe6wDqFm"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        192,
        208
      ],
      "id": "e817db7a-7e9e-41ea-a5dd-7f008d5f3ed5",
      "name": "search_original_image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "89koRBqfquS4zLOH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para combinar 2 imagenes, debes enviar el ID de la imagen1, ID de la imagen2, el prompt para generar la nueva imagen y un titulo para la nueva imagen.",
        "workflowId": {
          "__rl": true,
          "value": "pI4G3pJlg3QCY5L1",
          "mode": "list",
          "cachedResultName": "Nano-Banana Image Generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `Este es el prompt que se utilizara para combinar las imagenes. Este prompt se debe crear a partir de las instrucciones del usuario y debe estar optimizado para modelos de generación de imagenes con IA.`, 'string') }}",
            "image1_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image1_id', `Esta es la ID de la imagen 1`, 'string') }}",
            "image2_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image2_id', `Esta es la ID de la imagen 2`, 'string') }}",
            "image_title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_title', `Este es el nombre de la nueva imagen que se va a generar`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image1_id",
              "displayName": "image1_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image2_id",
              "displayName": "image2_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image_title",
              "displayName": "image_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        16,
        208
      ],
      "id": "7a473c2b-0c0a-4dcc-ac7d-7999f630775b",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change_name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_original_image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "acd3b55f-4c18-45aa-b427-429300ecd555",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459048a985e48975a7cdd849ffc070141476660681b71299cde19c05546285d9"
  },
  "id": "bQSQaBb3Ewsrz55S",
  "tags": []
}