Scraping LLM.json
{
  "name": "Scraping LLM",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "91c44565-dc8f-4c81-83ba-c0482fe486b4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://books.toscrape.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "7c7edc40-2a7a-4c0d-ba00-4f267223f3fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "009a4e62-0a65-4142-af2c-96aa0a6013a3",
      "name": "Markdown"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You're an expert scraping websites to get relevant data",
              "role": "system"
            },
            {
              "content": "Your task is to take the raw Markdown of a website and convert it into structured data. Use the following format for each book listed in the website:\n\njson: [\n  {\n     \"name\": \"This is the name of the book\",\n     \"price\": \"This is the price of the book\".\n     \"link\": \"This is the url of the book\",\n  }\n]\n\nTo create the absolute paths from the relative paths, use this:\nhttps://books.toscrape.com/"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        0
      ],
      "id": "5692365f-f8f6-4c11-b978-15da85ee5cf9",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zRsS8HggDnh8bWqc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Normal HTTP Request\nUse an \"HTTP request\" node to make a GET request to the website you want and transform the HTML received.",
        "height": 360,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -128
      ],
      "id": "ec599610-e1fb-4880-b2f1-164313c098e2",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "009bb465-0345-40ed-9cf3-10ba3d457c49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459048a985e48975a7cdd849ffc070141476660681b71299cde19c05546285d9"
  },
  "id": "wRYwPkcOTh4yzZdA",
  "tags": []
}