telegram_system_V2.json
{
  "name": "telegram_system V2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        140
      ],
      "id": "dc7fdb8a-5ae2-462a-a783-ed7fa570228e",
      "name": "Telegram Trigger",
      "webhookId": "8ba35059-06b2-48d3-bc3b-1a509e1478bc",
      "credentials": {
        "telegramApi": {
          "id": "fXxbZpFeFxBTCiwI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=current time/day:  {{ $now }}\n\n# Overview\nYou are a customer support representative for TrustWise. Your job is to answer questions about trust funds with accurate information from the knowledge base.\n\n## Rules\nWhen asked about trust funds always use the tool called \"documents\", which you can use to search documents with information about trust funds.\n\n## Tone\n- You are friendly and helpful\n- You like to use emojis when applicable\n\n## Output\nYou should answer the questions with relevant information and always output your final response as a conversational piece rather than a list of blog post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        60
      ],
      "id": "f03aae39-7e22-40b6-aa7a-7a924fbf70a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        340
      ],
      "id": "dd7997d6-fe1d-46d3-bc2b-d906ff5f7f82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zRsS8HggDnh8bWqc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        200
      ],
      "id": "aff16d82-db0e-4397-bae6-cb6cc26b11d3",
      "name": "Telegram",
      "webhookId": "d2b6e86b-aaa4-462f-b496-9ccf9402da47",
      "credentials": {
        "telegramApi": {
          "id": "fXxbZpFeFxBTCiwI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "={{ $json.message.voice.file_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e24bdf62-f96c-4e4e-b344-0f0cfa76d71a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "312038cb-1b9f-4865-ac33-533ee687afc5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -360,
        140
      ],
      "id": "02cad8c8-6a28-466e-b229-3fc295960677",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9b3c8da-6ee3-46ac-a6cf-959031403dcb",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        220
      ],
      "id": "252aa683-15a3-4dc3-805d-11fd1ccaaced",
      "name": "Set text"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -100,
        -60
      ],
      "id": "d026d353-28f2-42af-99c1-fc00b9bc5e1d",
      "name": "Get Voice FIle",
      "webhookId": "f8ca68e1-77cc-422d-9338-3db294527b8d",
      "credentials": {
        "telegramApi": {
          "id": "fXxbZpFeFxBTCiwI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        120,
        -60
      ],
      "id": "64bb7324-feae-46e0-b9af-c62e370704ad",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "zRsS8HggDnh8bWqc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "={{ $json.message.voice.file_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e24bdf62-f96c-4e4e-b344-0f0cfa76d71a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "312038cb-1b9f-4865-ac33-533ee687afc5",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        60
      ],
      "id": "b595a3fe-472d-4cec-921c-301096422923",
      "name": "Switch1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        420,
        340
      ],
      "id": "ebcb17c5-dd5e-4c8f-9a45-1604bef81cb9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "w05Zu4T7btuXUzPv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use this tool to answer questions about Trust funds.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        600,
        340
      ],
      "id": "f9e408fd-18ea-4959-9b28-ad711c0acdcc",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "8ddGuDBixRQGszCH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        560
      ],
      "id": "9d147240-dff0-47be-a323-8e406577feec",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zRsS8HggDnh8bWqc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        40
      ],
      "id": "675ed653-2f83-4c96-aa37-c0b259ecdfed",
      "name": "Telegram1",
      "webhookId": "582d7171-dc8e-40b9-83ba-adc2cf319288",
      "credentials": {
        "telegramApi": {
          "id": "fXxbZpFeFxBTCiwI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram AI Assistant with RAG",
        "height": 960,
        "width": 2180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        -220
      ],
      "id": "3eefc2e2-3628-47ad-bc68-4e870760d4be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1060,
        -60
      ],
      "id": "e7b2f235-93d0-47d6-a4ea-e95f429c7f98",
      "name": "Generate Audio Response",
      "credentials": {
        "openAiApi": {
          "id": "zRsS8HggDnh8bWqc",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Voice FIle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice FIle": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Generate Audio Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio Response": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "687cecc9-15c6-4e5a-a766-cdb9e2bf55bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459048a985e48975a7cdd849ffc070141476660681b71299cde19c05546285d9"
  },
  "id": "hE8rOJxfssx4fBC9",
  "tags": []
}