VEO3 Agent.json
{
  "name": "VEO3 Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cfc8e818-7e8a-49f2-ac1c-f6ffb9deef76",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gOSrsOjpML83dFVfLwiqPC3NlJJEt3Ks4EfjAqOLr78",
          "mode": "list",
          "cachedResultName": "Veo3 - Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gOSrsOjpML83dFVfLwiqPC3NlJJEt3Ks4EfjAqOLr78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gOSrsOjpML83dFVfLwiqPC3NlJJEt3Ks4EfjAqOLr78/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        0
      ],
      "id": "5f57a4b7-c0c0-4095-a3ac-26a6e864e6ed",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gadksHwMc0QDZnVP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User input:\nsubstance: {{ $json.Substance }}\nliquid: {{ $json.Liquid }}\nreaction: {{ $json.Reaction }}\ntransformation: {{ $json.Transformation }}\nart_syle: {{ $json.Art_style }}",
        "options": {
          "systemMessage": "# Overview\nYou're an expert prompt generator for AI videos. Based on the user input, prepare a prompt similar to the reference prompt.\n\n# Rules\nJust output the final prompt, don't add any extra text.\n\nReference prompt:\n\nA high-quality cinematic macro shot of a black-gloved hand holding a glass petri dish filled with -{substance}, placed on a sleek black laboratory surface. A dropper containing {liquid} hovers above the {substance}. As a drop of the {liquid} falls onto the {substance}, a {reaction} is triggered: small voxel-style green sprouts begin emerging rapidly from the center, expanding outward in a ripple effect. The sprouts grow and transform into {transformation}, resembling the art style of {art_style}. In the final scene, the petri dish is completely filled with __ground__ and cube-leaved voxel trees with __trunk_color__ __trunk_shape__ trunks. Everything remains contained within the glass dish, creating a miniature voxel forest lab experiment.\n\nYour job is to interpolate the {variables} from the user input and also to replace the __variables__ yourself to generate different and more creative prompts.\n\nExample 1: __trunk_color__  => White\nExample 2: __ground__ => pixelated grass"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        -16
      ],
      "id": "746ed3df-bd31-4994-b291-595b6e04ef9b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "3aafdca3-1fef-4518-b76c-2e5592e163ec",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "hzU5YmiPWsKlaPdp",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        -16
      ],
      "id": "bdc8bf18-e206-46dc-b707-cdf36e054e19",
      "name": "Wait",
      "webhookId": "2bc88a60-1f05-454b-b557-9dc145395fa1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3/fast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -16
      ],
      "id": "eff4ef91-a5f9-40e4-831c-010c7748ade2",
      "name": "Create VEO3 Video",
      "credentials": {
        "httpBearerAuth": {
          "id": "fTIlWvNm4rLldg1n",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "7JekOydTCDqvzE4G",
          "name": "Fal.ai Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a192f6-0af8-4ff0-83ec-bcec6643fff8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -16
      ],
      "id": "7545c40b-d2c5-40f5-8205-6a1c9fc767eb",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -16
      ],
      "id": "d98a9bab-f7a6-4116-b9cc-769c8257b7f2",
      "name": "Check Video Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7JekOydTCDqvzE4G",
          "name": "Fal.ai Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -112
      ],
      "id": "97fe07a4-4eb5-42d6-bae2-504e084bf6ca",
      "name": "Get Video URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7JekOydTCDqvzE4G",
          "name": "Fal.ai Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gOSrsOjpML83dFVfLwiqPC3NlJJEt3Ks4EfjAqOLr78",
          "mode": "list",
          "cachedResultName": "Veo3 - Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gOSrsOjpML83dFVfLwiqPC3NlJJEt3Ks4EfjAqOLr78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gOSrsOjpML83dFVfLwiqPC3NlJJEt3Ks4EfjAqOLr78/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Complete",
            "Output": "={{ $json.video.url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Substance",
              "displayName": "Substance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Liquid",
              "displayName": "Liquid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reaction",
              "displayName": "Reaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transformation",
              "displayName": "Transformation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Art_style",
              "displayName": "Art_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1584,
        -112
      ],
      "id": "3cb99751-b14a-4301-b743-b05eecebf867",
      "name": "Update Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gadksHwMc0QDZnVP",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create VEO3 Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VEO3 Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab9e4c83-2f73-4b5a-9129-0b556ee3cf65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459048a985e48975a7cdd849ffc070141476660681b71299cde19c05546285d9"
  },
  "id": "H8FMShY70lxB3uyk",
  "tags": []
}