YT_Scraper.json
{
  "name": "YT Scraper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "633474ca-21dc-461c-8a61-010529e390b9",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/:actorId/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"downloadSubtitles\": true,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 10,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"Inteligencia Artificial\"\n    ],\n    \"sortingOrder\": \"relevance\",\n    \"subtitlesFormat\": \"plaintext\",\n    \"subtitlesLanguage\": \"es\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "7e35652b-c695-488b-a7e1-becb61e8fe4e",
      "name": "Run Actor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "B72dvq66KhQ4D488",
          "name": "Apify Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitForFinish",
              "value": "60"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "acbf5346-e90f-49a8-a1e4-40f0ce4c08fb",
      "name": "Get Actor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "B72dvq66KhQ4D488",
          "name": "Apify Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "7e2474df-f771-42cd-b0fd-7766df3bf2ee",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "B72dvq66KhQ4D488",
          "name": "Apify Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SlNKIFeu8MrTTKw14SCdQGBISm57Tqi_MzYFGEyMo-k",
          "mode": "list",
          "cachedResultName": "Youtube Channels Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SlNKIFeu8MrTTKw14SCdQGBISm57Tqi_MzYFGEyMo-k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SlNKIFeu8MrTTKw14SCdQGBISm57Tqi_MzYFGEyMo-k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Title": "={{ $json.title }}",
            "URL": "={{ $json.url }}",
            "Views": "={{ $json.viewCount }}",
            "Date": "={{ $json.date }}",
            "Likes": "={{ $json.likes }}",
            "Channel Name": "={{ $json.channelUsername }}",
            "Channel URL": "={{ $json.channelUrl }}",
            "Total Subs": "={{ $json.numberOfSubscribers }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Channel Name",
              "displayName": "Channel Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Channel URL",
              "displayName": "Channel URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Subs",
              "displayName": "Total Subs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        0
      ],
      "id": "daa40990-39f7-42b6-b461-e8e67bfa7115",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AlY4P5ky9mGHD3ZF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Run Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Actor": {
      "main": [
        [
          {
            "node": "Get Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Actor": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e74bc20-49da-4036-a84a-e55a3c415cd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459048a985e48975a7cdd849ffc070141476660681b71299cde19c05546285d9"
  },
  "id": "IfnTXplV7H6ddZYk",
  "tags": []
}